In [216]:
import pandas as pd
import numpy as np

In [217]:
df=pd.read_csv('raw.csv')

In [218]:
row,cols=df.shape
print(row,cols)

7043 21

In [219]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [220]:
df['TotalCharges']=df['TotalCharges'].replace(" ",0).astype('float32')
type(df['TotalCharges'])

pandas.core.series.Series

In [221]:
df['TotalCharges'].dtype

dtype('float32')

In [222]:
df.select_dtypes(include='number')
df['SeniorCitizen']=df['SeniorCitizen'].astype('category')

In [223]:
for i in df.select_dtypes(include='number').columns:
    q25,q75=np.percentile(df[i],25),np.percentile(df[i],75)
    IQR=q75-q25
    Threshold=IQR*1.5
    lower,upper=q25-Threshold,q75+Threshold
    Outliers=[i for i in df[i] if i < lower or i > upper]
    print(i,"    ",len(Outliers),'  ',Outliers)

tenure      0    []
MonthlyCharges      0    []
TotalCharges      0    []

In [224]:
for col in df.select_dtypes(include='number').columns:
    print(col)
    q25=np.quantile(df[col],0.25)
    q75=np.quantile(df[col],0.75)
    iqr=q75-q25
    a=q25-1.5*iqr
    b=q75+1.5*iqr
    c=q75+3.1*iqr
    if a>0:
        no=np.random.randint(4,13)
        lower=list(np.random.randint(0,a,no))
        index1=list(np.random.randint(0,row,no))
        df.loc[index1,col]=lower
        
    p=np.random.randint(5,15)
    print(b,c,p)
    upper=list(np.random.randint(b,c,p))
    index2=list(np.random.randint(0,row,p))
    df.loc[index2,col]=upper

tenure
124.0 197.6 6
MonthlyCharges
171.375 258.335 13
TotalCharges
8868.67495727539 14289.55493774414 11

In [225]:
for i in df.select_dtypes(include='number').columns:
    q25,q75=np.percentile(df[i],25),np.percentile(df[i],75)
    IQR=q75-q25
    Threshold=IQR*1.5
    lower,upper=q25-Threshold,q75+Threshold
    Outliers=[i for i in df[i] if i < lower or i > upper]
    print(i,"    ",len(Outliers),'  ',Outliers)

tenure      6    [132, 155, 153, 151, 183, 150]
MonthlyCharges      13    [204.0, 222.0, 201.0, 194.0, 243.0, 188.0, 186.0, 248.0, 209.0, 253.0, 220.0, 226.0, 200.0]
TotalCharges      11    [9141.0, 12393.0, 9092.0, 10883.0, 9632.0, 9267.0, 11095.0, 13967.0, 13141.0, 11615.0, 13620.0]

In [226]:
for i in range(50):
    x=np.random.randint(0,row)
    y=np.random.randint(1,cols)
    df.iloc[x,y]=np.nan
df.isnull().sum()

customerID          0
gender              1
SeniorCitizen       4
Partner             3
Dependents          4
tenure              2
PhoneService        3
MultipleLines       3
InternetService     3
OnlineSecurity      2
OnlineBackup        1
DeviceProtection    2
TechSupport         2
StreamingTV         5
StreamingMovies     0
Contract            2
PaperlessBilling    1
PaymentMethod       4
MonthlyCharges      0
TotalCharges        6
Churn               2
dtype: int64

In [228]:
df.isnull().sum()

customerID          0
gender              1
SeniorCitizen       4
Partner             3
Dependents          4
tenure              2
PhoneService        3
MultipleLines       3
InternetService     3
OnlineSecurity      2
OnlineBackup        1
DeviceProtection    2
TechSupport         2
StreamingTV         5
StreamingMovies     0
Contract            2
PaperlessBilling    1
PaymentMethod       4
MonthlyCharges      0
TotalCharges        6
Churn               2
dtype: int64

In [230]:
df.to_csv('data.csv',index=False)