In [1]:
import pandas as pd
import pickle as pkl
import json

In [3]:
with open('../artifact/final_model_abcl.pkl',"rb") as file_obj:
    model=pkl.load(file_obj)

In [71]:
data=pd.read_csv('../artifact/data.csv')
data=pd.DataFrame(data)
data.iloc[2]

customerID              3668-QPYBK
gender                        Male
SeniorCitizen                  0.0
Partner                         No
Dependents                      No
tenure                         2.0
PhoneService                   Yes
MultipleLines                   No
InternetService                DSL
OnlineSecurity                 Yes
OnlineBackup                   Yes
DeviceProtection                No
TechSupport                     No
StreamingTV                     No
StreamingMovies                 No
Contract            Month-to-month
PaperlessBilling               Yes
PaymentMethod         Mailed check
MonthlyCharges               53.85
TotalCharges                108.15
Churn                          Yes
Name: 2, dtype: object

In [69]:
data.iloc[0]

customerID                7590-VHVEG
gender                        Female
SeniorCitizen                    0.0
Partner                          Yes
Dependents                        No
tenure                           1.0
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                    No
OnlineBackup                     Yes
DeviceProtection                  No
TechSupport                       No
StreamingTV                       No
StreamingMovies                   No
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 29.85
TotalCharges                   29.85
Churn                             No
Name: 0, dtype: object

In [68]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0.0,Yes,Yes,24.0,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0.0,Yes,Yes,72.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0.0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0.0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [4]:
model.feature_names_in_

array(['InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_Yes', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'tenure', 'MonthlyCharges', 'TotalCharges'], dtype=object)

In [65]:
data1 = pd.DataFrame(0, index=[0], columns=model.feature_names_in_)
for feat in model.feature_names_in_:
    # print(feat)
    if '_' in feat:
        x, y = feat.split('_')
        data1[feat] = int(data[x].iloc[0] == y)

data1['tenure']=data['tenure']
data1['MonthlyCharges']=data['MonthlyCharges']
data1['TotalCharges']=data['TotalCharges']
data1

,InternetService_Fiber optic,InternetService_No,OnlineSecurity_Yes,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure,MonthlyCharges,TotalCharges
0,0,0,0,0,0,1,0,1.0,29.85,29.85

In [18]:
data[model.feature_names_in_]

InternetService_Fiber optic                  0
InternetService_No                           0
OnlineSecurity_Yes                           0
Contract_Two year                            0
PaymentMethod_Credit card (automatic)        0
PaymentMethod_Electronic check               1
PaymentMethod_Mailed check                   0
tenure                                     1.0
MonthlyCharges                           29.85
TotalCharges                             29.85
Name: 0, dtype: object